@import "tailwindcss";

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.35s ease-out;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* ===== Premium Scrollbar ===== */
/* ===== FORCE CUSTOM SCROLLBAR ===== */

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #F9F7F4;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #D4AF37, #b8962e);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #e6c65c, #c9a93a);
}